<%= link_to_remote("", :url => formatted_post_path(@post, :js), :method => :put, :with => "'url='+encodeURIComponent('#{@post.url}')", :html => {:class => 'flip'}) %>
<div class='content'>
  <div class='nav'>
    <div class='innernav'>
      <div class='title'><%= link_to @title, @post.url %></div>
      <div class='subtitle'><%= link_to @home, @post.homeurl %></div>
    </div>
  </div>

  <div style='font-size: <%= fontSize(@post.contents) %>%'>
  <%= CGI.unescapeHTML @post.contents %>
  </div>
</div>
